body{
    font-size:1.8rem;
    line-height:1.5;
    color:#656D4A;
    background-color: #C2C5AA;
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url("https://source.unsplash.com/Aq2ZfIRzSj8");
    background-size: auto;
    background-repeat: no-repeat; */
}

.about-me-top{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.title{
    margin-left: 50%;
}
.FiHome-icon{
    height: 200px;
    width: 100px;
}
.about-me-bottom{
    display: flex;
    flex-direction:row-reverse;
    padding: 2%;
}

.bottom-right{
    margin-top: 1%;
    margin-left: 5%;
}
.white-space {
    height: 10vh;
  }