label {
  font-size: 1.5rem;
}

#form-input-control-email {
  font-size: 1.1rem;
}

#form-input-control-name {
  font-size: 1.1rem;
}

#form-textarea-control-opinion {
  font-size: 1.25rem;
}

.ContactForm-container {
  width: 50%;
  margin: 0 auto;
}

.ContactForm {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}